name: Android CI

on:
  push:
    branches: [ "master", "dev" ]
    paths:
      - '.github/workflows/build-android.yml'
      - 'CHelper-Android/**'
  pull_request:
    branches: [ "master", "dev" ]
    paths:
      - '.github/workflows/build-android.yml'
      - 'CHelper-Android/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: 'recursive'

      - name: set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        working-directory: ${{ github.workspace }}/CHelper-Android
        run: chmod +x gradlew

      - name: Build with Gradle
        working-directory: ${{ github.workspace }}/CHelper-Android
        run: ./gradlew build
